/****** CSS Style ******/
		
/****** Text Style ******/
    
h1 {
            
            margin: 0px;
            border: #765bff outset 2.1px;
            background-color: #1900239a;
            padding: 0px;
            color: #f9f9f9;
            text-align: center;
            font-size: 36px;
            
		}
	
h2 {
            
            margin: 0px;
            border: #765bff outset 2.1px;
            background-color: #1900239a;
            padding: 0px;
            color: #f9f9f9;
            text-align: center;
            font-size: 28px;
            
		}
    
h4 {
            
            margin: 0px;
            border: #765bff outset 2.1px;
            background-color: #1900239a;
            padding: 0px;
            color: #f9f9f9;
            text-align: center;
            font-size: 18px;
            
		}
    
hr {
            
            margin: 0px;
            border: #765bff outset 2.1px;
            background-color: #1900239a;
            padding: 0px;
            color: #f9f9f9;
            text-align: center;
            font-size: auto;
            
		}
    
p {
            
            margin: 0px;
            border: #765bff outset 2.1px;
            background-color: #1900239a;
            padding: 0px;
            color: #f9f9f9;
            text-align: center;
            font-size: 10px;
            
		}
	
		 navbar {
            
          width: 100;
          font-size: 100%;
            margin: 0px;
            border: #765bff outset 2.1px;
            background-color: #1900239a;
            padding: 0px;
            color: #f9f9f9;
            text-align: center;
            
            
		}
        
.navbar {
            
            margin: 0px;
            border: #765bff outset 2.1px;
            background-color: #1900239a;
            padding: 0px;
            color: #f9f9f9;
            text-align: center;
            
            
		}

/****** End of Text Style ******/
	
/****** Vid Style ******/
	#myVideo {
		
  		position: center;
		/* -- top: 0;
		right: 0; --*/
		bottom: 0;
		/* -- left: 0; -- */
  		min-width: 100%; 
  		min-height: 100%;

}
		
.overlay {

			position: fixed;
			opacity: 7.7%;/* -- 10.5%; --*/
		
		}
/***********************/
/****** Section Style ******/    
section {

        padding: none;
        margin: none;
        border: none;
    }
/***************************/
/****** Top NavBar Style ******/
body {
	
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(72,13,107,1.00);
	
}

 .header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

 .navbar {
  
  width: 100%;
  overflow: hidden;
  background-color: #190023;
  position: none;
  z-index: 1;
  margin: auto;
  border: #765bff outset 2.1px;
    
}

.navbar a {
	
  width: 100%;
  float: left;
  font-size: 100%;
  color: #f9f9f9;
  text-align: center;
  padding: 10px 4px;
  text-decoration: none;
}

	
 .navbar a:hover {

      width: 100%;
  		background-color: rgb(118, 91, 255, 0.650);
  		position: none;
  		z-index: 1;
} 

	.SMedia {   
		
		width: 20%;
		margin: none;
		border: #765bff outset 2.1px;
		padding: 0px 0.5px 0px 0.5px;
		
	}
		
	.Hosting {
		
		width: 20%;
		margin: none;
		border: #765bff outset 2.1px;
		padding: 0px 0.5px 0px 0.5px;
		
	}
	
	.CNAME {
		
		width: 20%;
		margin: none;
		border: #765bff outset 2.1px;
		padding: 0px 0.5px 0px 0.5px;
		
	}
	
	.Repo {
		
		width: 20%;
		margin: none;
		border: #765bff outset 2.1px;
		padding: 0px 0.5px 0px 0.5px;
		
	}
	
	.PSetup {
		
    width: 20%;
		margin: none;
		border: #765bff outset 2.1px;
		padding: 0px 0.5px 0px 0.5px;
		
	}
	
@media screen and (max-width: 500px) {
  .navbar a {
    float: left;
    display: block;
    width: 100%;
    text-align: auto;
  }
}
/****** End of Top NavBar Style ******/
/****** Left NavBar Style ******/
        
body {
    margin: 0;
    font-family: "Aerial", Helvetica, sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(25,0,35,0.74);
  overflow-x: hidden;
  transition: 0.6s;
  padding-top: 60px;
}

p1, .sidebar a {
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  color: #f9f9f9f9;
  display: block;
  transition: 0.6s;
  text-align: center;
}

.sidebar a:hover {
  color: #765bff;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(25,0,35,0.74);
  color: #f9f9f9;
  padding: 10px 15px;
  border: #765bff outset 2.1px;
  position: fixed;
  z-index: 1;

}

.openbtn:hover {
  background-color: #765bff;
  border: #765bff outset 2.1px;
}

#main {
  transition: margin-left .5s;
  padding: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/****** End of Left NavBar Style ******/
/****** Style Text (below youtube video) ******/

.container {
    border: #765bff outset 2.1px;
    background-color: #1900239a;
    margin: auto;
    padding: 20px;
    font-size: 10;
    width: auto;
        }

/****** End of Style Text (below youtube video) ******/
    
/****** Footer Style ******/

	
body {
        padding: 0;
        border: 0;
        margin: 0;
    }
    
.footer {
   position: fixed;
   bottom: 0%;
   width: 100%;
   margin: auto;
   padding: auto;
   background-color: #190023;
   color: #f9f9f9;
   text-align: center;
   border: 1px #765bff outset;
}

/****** Footer Style ******

 /****** Style ******