# System Files
.DS_Store
.idea
.fastRequest/config/fastRequestCurrentProjectEnvironment.json

# Virtual & Environment Variables (.env & .virtualenv)
.dotenv
.env

# Tokens and PPKs (Private-Public Keys)
:Xcode-Personal-Acess-Token_ppk
:Xcode-Personal-Acess-Token_ppk.pub

# Files & Directories
node_modules/
#yarn.lock
