# System Files
.DS_Store
.git
.gitignore
.idea
.fastRequest/config/fastRequestCurrentProjectEnvironment.json
.ssh
.fastRequest

# Virtual & Environment Variables (.env & .virtualenv)
.dotenv
.env

# Tokens and PPKs (Private-Public Keys)
:Xcode-Personal-Acess-Token_ppk
:Xcode-Personal-Acess-Token_ppk.pub

# Files & Directories
node_modules/

# Packages
dbot-1.yml
#yarn.lock
