/****** - - CSS on GitHub - - ******/
body {
	
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(72,13,107,1.00); 
	
}

/*** Text Style ***/
h1 {
            
            margin: 0px;
            border: #765bff outset 2.1px;
            background-color: #1900239a;
            padding: 0px;
            color: #f9f9f9;
            text-align: center;
            font-size: 36px;
            
		}
h2 {
            
            margin: 0px;
            border: #765bff outset 2.1px;
            background-color: #1900239a;
            padding: 0px;
            color: #f9f9f9;
            text-align: center;
            font-size: 28px;
            
		}
h4 {
            
            margin: 0px;
            border: #765bff outset 2.1px;
            background-color: #1900239a;
            padding: 0px;
            color: #f9f9f9;
            text-align: center;
            font-size: 18px;
            
		}
hr {
            
            margin: 0px;
            border: #765bff outset 2.1px;
            background-color: #1900239a;
            padding: 0px;
            color: #f9f9f9;
            text-align: center;
            font-size: auto;
            
		}
p {
            
            margin: 0px;
            border: #765bff outset 2.1px;
            background-color: #1900239a;
            padding: 0px;
            color: #f9f9f9;
            text-align: center;
            font-size: 10px;
            
		}
/*** End of Text Style ***/

/*** Section Style ***/    

section {

    padding: 0;
    margin: 0;
    border: 0;

}

/*** End of Section Style ***/

/*** Back to Top Style ***/
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
   /* background-color:#3498db; */
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#f9f9f9;
}
#scroll:hover {
    /* background-color:#e74c3c; */
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
/*** End of Back to Top Style ***/

/*** Top NavBar Style ***/
.header {

    padding: 10px 16px;
    border: n/a;
    margin: n/a;
    /* background: #555; */
    /* color: #f9f9f9; */
    text-align: n/a;

}

.sticky {

 		position: fixed;
  		top: 0;
  		width: 100%;

}

.sticky + .navbarc {
	
  		padding-top: 102px;
	
}

.navbar-brand {
    
    padding: 0;
    border: n/a;
    margin: n/a;
    
    
    
}

 .navbar {
  
  		width: 100%;
  		/* overflow: hidden; */
        /* display: flex; */
  		background-color: #190023;
  		position: fixed;
  		z-index: 1;
  		margin: 0;
  		border: #765bff outset 2.1px;
  		padding: 0;
  		text-align: center;
    
}

#navbar {
    
    overflow: hidden;
    background-color: #190023;
}

.navbarc {

    padding: 16px;

}


.navbar a {
	
  		width: 100%;
        display: n/a;
  		float: left;
  		font-size: 100%;
  		color: #f9f9f9;
  		text-align: n/a;
  		padding: 10px 4px;
  		text-decoration: none;

}

	
 .navbar a:hover {

        width: 100%;
        display: n/a;
  		background-color: rgb(118, 91, 255, 0.650);
  		position: n/a;
  		z-index: 1;
     
} 

.navbar a:active {

        width: 100%;
  		background-color: rgb(118, 91, 255, 0.650);
        /* color: darkorange; */
  		z-index: 1;
     
} 

.navbar-expand-lg, .fixed-top, .navbar-dark, .bg-dark {
    
        width: 100%;
  		overflow: hidden;
  		background-color: #190023;
  		position: fixed;
  		z-index: n/a;
  		margin: 0;
  		border: #765bff outset 2.1px 2.1px 2.1px 2.1px;
  		padding: 0;
  		text-align: center;
    
}

.navbar-nav {
    
        width: 100%;
  		overflow: hidden;
  		background-color: #190023;
  		position: relative;
  		z-index: 1;
  		margin: 0;
  		border: #765bff outset 2.1px;
  		padding: 0;
  		text-align: center;
    
}

.nav-link {
    
        width: 100%;
  		overflow: hidden;
  		background-color: #190023;
  		position: relative;
  		z-index: 1;
  		margin: 0;
  		border: #765bff outset 2.1px;
  		padding: 0;
  		text-align: center;
    
}

.nav-item {
    
    
    
}

li.nav-item.active {
    
    
    
}

.navbarDropdown {
    
    
    
}

.dropdown-toggle {
    
    
    
}
/**** -- Form -- ****/
.form-inline {
    
    
    
}

.my-2 {
    
    
    
}

.my-lg-0 {
    
    
    
}

form-control mr-sm-2 {
    
    
    
}
/**** -- End of Form -- ****/
 .SMedia {   
		
		width: 20%;
		margin: none;
		border: #765bff outset 2.1px;
		padding: 0px 0.5px 0px 0.5px;
		
	}
		
	.Hosting {
		
		width: 20%;
		margin: none;
		border: #765bff outset 2.1px;
		padding: 0px 0.5px 0px 0.5px;
		
	}
	
	.CNAME {
		
		width: 20%;
		margin: none;
		border: #765bff outset 2.1px;
		padding: 0px 0.5px 0px 0.5px;
		
	}
	
	.Repo {
		
		width: 20%;
		margin: none;
		border: #765bff outset 2.1px;
		padding: 0px 0.5px 0px 0.5px;
		
	}
	
	.PSetup {
		
        width: 20%;
		margin: none;
		border: #765bff outset 2.1px;
		padding: 0px 0.5px 0px 0.5px;
		
	}	
	
@media screen and (max-width: 500px) {

.navbar a {

    		float: left;
    		display: block;
    		width: 100%;
    		text-align: auto;

  }

}
/*** End of Top NavBar Style ***/
/*** Left NavBar Style ***/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(25,0,35,0.74);
  overflow-x: hidden;
  transition: 0.6s;
  padding-top: 60px;
}

p1, .sidebar a {
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  color: #f9f9f9f9;
  display: block;
  transition: 0.6s;
  text-align: center;
}

.sidebar a:hover {
  color: #765bff;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(25,0,35,0.74);
  color: #f9f9f9;
  padding: 10px 15px;
  border: #765bff outset 2.1px;
  position: fixed;
  z-index: 1;

}

.openbtn:hover {
  background-color: #765bff;
  border: #765bff outset 2.1px;
}

#main {
  transition: margin-left .5s;
  padding: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/*** End of Left NavBar Style ***/
/*** Style Text (below youtube video) ***/
.container {

    border: #765bff outset 2.1px;
    background-color: #1900239a;
    margin: auto;
    padding: 20px;
    font-size: 10;
    width: auto;

        }
/****** End of Style Text (below youtube video) ******/
/*** Vid Style ***/
/* -- #myVideo {
		
		position: fixed;
		bottom: 0;
  		min-width: 100%; 
  		min-height: 100%;

		}
		
.overlay {

			position: fixed;
		
			opacity: 7.5%;
			

		
		} -- */
/*** End of Vid Style ***/
/****** Footer Style ******/
.footer {
   position: fixed;
   bottom: 0%;
   width: 100vw;
   margin: auto;
   padding: auto;
   background-color: #190023;
   color: #f9f9f9;
   text-align: center;
   border: 1px #765bff outset 2.1px 2.1px 2.1px 2.1px;
}
/*** Footer Style ***/
/****** - - End of CSS - - ******/