/*** Universal Style ***/
    /* * { */
        /* box-sizing: border-box; */
        /* margin: 0; */
        /* border: 0; */
        /* padding: 0; */
        /* font-family: "Aerial", Helvetica, sans-serif; */
        /* background: rgb(5, 5, 5, 0.2); */
    }

    /* .head {

        margin: 0;
        /* border: ###;
        padding: 0;

} */

/* .showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100%;
    padding: 100;
    align-items: center;
    background: #111
    color: #f9f9f9;
    z-index: 2;
} */
/***********************/