/** Body Style **/
    .body {
        padding: 0;
        border: 0;
        margin: 0;
        /* background-color: rgba(72,13,107,1.00); */
        /* background-color: black; */
    }
/** End of Body Style **/