/****** - - CSS on GitHub - - ******/
/*** Section Style ***/

    section {

            margin: 0;
            border: none;
            padding: 0;

   }

/*** End of Section Style ***/

/*** Top NavBar Style ***/
    body {
        margin: 0;
  		font-family: Arial, Helvetica, sans-serif;
  		background-color: rgba(72,13,107,1.00);
    }
    .navbarc {

  		padding: 16px;

}

    .sticky {

 		position: fixed;
  		top: 0;
  		width: 100%;

}

    .sticky + .navbarc {

  		padding-top: 102px;

}

    .navbar {

  		width: 100%;
  		overflow: hidden;
  		background-color: #190023;
  		position: none;
  		z-index: 1;
  		margin: auto;
  		border: #765bff outset 2.1px;
  		padding: 0;
  		text-align: center;

}

    .navbar a {

  		width: 100%;
  		float: left;
  		font-size: 100%;
  		color: #f9f9f9;
  		text-align: center;
  		padding: 10px 4px;
  		text-decoration: none;

}


    .navbar a:hover {

      	width: 100%;
  		background-color: rgb(118, 91, 255, 0.650);
  		position: none;
  		z-index: 1;
}

	.SMedia {

		width: 20%;
		margin: none;
		border: #765bff outset 2.1px;
		padding: 0px 0.5px 0px 0.5px;

	}

	.Hosting {

		width: 20%;
		margin: none;
		border: #765bff outset 2.1px;
		padding: 0px 0.5px 0px 0.5px;

	}

	.CNAME {

		width: 20%;
		margin: none;
		border: #765bff outset 2.1px;
		padding: 0px 0.5px 0px 0.5px;

	}

	.Repo {

		width: 20%;
		margin: none;
		border: #765bff outset 2.1px;
		padding: 0px 0.5px 0px 0.5px;

	}

	.PSetup {

    	width: 20%;
		margin: none;
		border: #765bff outset 2.1px;
		padding: 0px 0.5px 0px 0.5px;

	}

@media screen and (max-width: 500px) {

.navbar a {

    		float: left;
    		display: block;
    		width: 100%;
    		text-align: auto;

  }

}
/*** End of Top NavBar Style ***/

/*** Left NavBar Style ***/
body {
    margin: 0;
    font-family: "Aerial", Helvetica, sans-serif;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(25,0,35,0.74);
  overflow-x: hidden;
  transition: 0.6s;
  padding-top: 60px;
}

p1, .sidebar a {
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  color: #f9f9f9f9;
  display: block;
  transition: 0.6s;
  text-align: center;
}

.sidebar a:hover {
  color: #765bff;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(25,0,35,0.74);
  color: #f9f9f9;
  padding: 10px 15px;
  border: #765bff outset 2.1px;
  position: fixed;
  z-index: 1;

}

.openbtn:hover {
  background-color: #765bff;
  border: #765bff outset 2.1px;
}

#main {
  transition: margin-left .5s;
  padding: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/*** End of Left NavBar Style ***/

/** GitHub Style
    .GitHub {
        padding: 0;
        border: none;
        margin: 0;
        z-index: 1;
} **/
/** End of GitHub Style **/

/*** Back to Top Style ***/
    #scroll {
        position:fixed;
        right:10px;
        bottom:10px;
        cursor:pointer;
        width:50px;
        height:50px;
    /* background-color:#3498db; */
        text-indent:-9999px;
        display:none;
        -webkit-border-radius:60px;
        -moz-border-radius:60px;
        border-radius:60px;
}
    #scroll span {
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-8px;
        margin-top:-12px;
        height:0;
        width:0;
        border:8px solid transparent;
        border-bottom-color:#f9f9f9;
}
    #scroll:hover {
        /* background-color:#e74c3c; */
        opacity:1;filter:"alpha(opacity=100)";
        -ms-filter:"alpha(opacity=100)";
}
/*** End of Back to Top Style ***/
/****** - - End of CSS - - ******/